---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Khamilowicz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OA4j1KhrcDBDdLWiKZYNQ", oauth_nonce="aa6a505b860bbaeb95ae4d8b2999a8f7",
        oauth_signature="uWSctV%2Fmt7A2G4rKfHAMb1zhPDc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376680015", oauth_token="93670851-zzOpXxzgMU3F7ah8Yd6CiBZt4V1Z8uRISiKSqf1w",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 16 Aug 2013 19:07:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1376680226'
      X-Transaction:
      - f112f432a10936c8
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Aug 16 18:28:29 +0000 2013","id":368439135939227649,"id_str":"368439135939227649","text":"test
        tweet","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":93670851,"id_str":"93670851","name":"Piotr
        Szeremeta","screen_name":"Khamilowicz","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":17,"friends_count":282,"listed_count":1,"created_at":"Mon
        Nov 30 17:11:24 +0000 2009","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Fri, 16 Aug 2013 19:07:03 GMT
recorded_with: VCR 2.5.0
